body{
    font-family: 'Gantari', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;

}

.help-those{
    background-image: url(images/dnt.jpg);
    background-repeat: no-repeat;
    background-size:100% ;
    padding-top: 50px;
    height: 640px;
   text-align: center;
   margin-bottom: 130px;
}
.help-those h1{
    font-size: 71px;
    color: white;
    margin-top: 140px;
    padding-bottom: 5px;
}
.help-those h3{
    font-size: 21px;
    color: azure;
    font-weight: 200;
    margin-top: -23px; 
    margin-bottom: 70px;
}
.help-those a{
    text-decoration: none;
color: white;
font-size: 25px;
font-weight: 500;
background-image: linear-gradient(tomato,rgba(255, 0, 0, 0.793));
padding: 20px 25px ;
border-radius: 10px;

}

.donate-today{
    text-align: center;
    margin-bottom: 70px;
}
.donate-today h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.donate-today h3{
font-size: 20px;
color: rgba(0, 0, 0, 0.456);
}
.amount{
    text-align: center;
display: flex;
width: 65%;
margin-left: 340px;
margin-bottom: 100px;
}
.select{
    width: 15%;
    font-weight: bolder;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.305);
    border-radius: 9px;
    padding: 20px 0px;
    margin-right:20px;
}

.default{
    color: tomato;
    border: 3px solid tomato;
    border-radius: 9px;
    padding: 39px 30px;
    background-color: rgba(255, 99, 71, 0.104);
}

.hr-line{
    text-align: center;
    margin-bottom: 100px;
}
.hr-line h3{
    color: rgba(0, 0, 0, 0.267);
}
.hr-line hr{
    width: 50%;
    margin-bottom: 50px;
}
.hr-line a{
      
text-decoration: none;
background-image: linear-gradient(tomato,rgba(255, 0, 0, 0.584));
color: white;
padding: 20px 30px;
border-radius: 7px;
font-size: 21px;
font-weight: 600;

}
.plan h1{
    margin-top: 145px;
    text-align: center;
    font-size: 50px;
    
}
.plan h3{
    text-align: center;
    color: rgba(0, 0, 0, 0.523);
    margin-bottom: 60px;
}
.list{
    width: 90%;
    display: flex;
    margin-left: 150px;
    margin-bottom: 100px;
}
.food{
    width: 24%;
    background-color:  rgba(127, 255, 212, 0.295);
  padding:70px 40px;
  border-radius: 9px; 
  margin-right: 28px;

}
.shelter{
    width:24% ;
    background-color: rgba(255, 99, 71, 0.104);
    padding: 70px 25px;
    border-radius: 9px;
    margin-right: 28px;
}
.education{
    width: 24%;
    background-color: rgba(255, 255, 0, 0.159);
    padding: 70px 25px;
    border-radius: 9px;

}